.app-header {
    font-family: Arial, sans-serif;
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 5px;
    text-shadow: 0 1px 0 #fff;
}

.book-info-label {
    font-family: Arial, sans-serif;
    color: #596F8F;
    font-size: 18px;
    font-weight: 200;
    padding: 5px;k
    text-shadow: 0 1px 0 #fff;,
    mar
}